.idea
.vscode
dist/CMakeFiles/
dist/Debug/
dist/Release/
dist/examples/
dist/ml/
dist/.ninja_deps
dist/.ninja_log
dist/CMakeCache.txt
dist/build.ninja
dist/cmake_install.cmake
dist/compile_commands.json

tests/
src/
ml/
build/
examples/
.gitmodules
CMakeLists.txt
converter.py
ml.ts
*.png
*.tgz